*,*::before,*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
#box {
	background: Gainsboro;
	margin: 0 auto;
	width: 100%;
}

.btn-container {
	width: 97%;
	position: fixed;
	left: 1.5%;
	bottom: 30px;
	display: flex;
	justify-content: space-between;
}

.btn-right-container {
	display: flex;
	gap: 15px;
}

.btn {
	font-size: 20px !important;
}

#warning-text {
	position: fixed;
	right: 1.5%;
	bottom: 80px;
	color: red;
	font-size: 20px;
	visibility: hidden;
}

/* vim: set tabstop=2:softtabstop=2:shiftwidth=2:noexpandtab */

